{% extends "ta/base.html" %}
{% block content %}
<section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
          <h2>Nosotros</h2>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight">
              <figure><img src="" class="img-responsive" alt=""></figure>
              <h3>Marco Centeno</h3>
              <small><address>mcentenoqu@unsa.edu.pe</address></small>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block" >
              <figure><img src="" class="img-responsive" alt=""></figure>
              <h3>Antohny Rivas</h3>
              <small><address>arivasc@unsa.edu.pe</address></small>              
            </div>
        </li>

        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block">
              <figure><img src="" class="img-responsive" alt=""></figure>
              <h3>Milagros Paricanaza</h3>
              <small><address>mparicanazac@unsa.edu.pe</address></small>
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block">
              <figure><img src="" class="img-responsive" alt=""></figure>
              <h3>Ronald Huamani</h3>
              <small><address>rhuamanipaco@unsa.edu.pe</address></small>
            </div>
        </li>
      </ul>
    </div>
  </section> 
{% endblock content %}
