{% extends "ta/base.html" %}
{% load static %}
{% block content %}
<section class="our-webcoderskull padding-lg">
    <div class="row heading heading-icon">
      <h2>Nosotros</h2>
    </div>
</section>
<div class="container">
  <div class="row">
    <!-- US -->
    <div class="col-lg-4 teacher">
      <div class="card">
        <div class="card_img">
          <img
            class="card-img-top trans_200"
            src="{% static 'images/us.jpg' %}"
          />
        </div>
        <div class="card-body text-center">
          <div class="card-title"><h5>Marco Centeno</h5></div>
          <div class="card-title"><a href="mailto:mcentenoqu@unsa.edu.pe" style="font-size: 0.875em;">mcentenoqu@unsa.edu.pe</a></div>
          <div class="card-text">Rol: Front End Developer</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 teacher">
      <div class="card">
        <div class="card_img">
          <img
            class="card-img-top trans_200"
            src="{% static 'images/us.jpg' %}"
          />
        </div>
        <div class="card-body text-center">
          <div class="card-title"><h5>Anthony Rivas</h5></div>
          <div class="card-title"><a href="mailto:arivasc@unsa.edu.pe" style="font-size: 0.875em;">arivasc@unsa.edu.pe</a></div>
          <div class="card-text">Rol: Back End Developer</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 teacher">
      <div class="card">
        <div class="card_img">
          <img
            class="card-img-top trans_200"
            src="{% static 'images/us.jpg' %}"
          />
        </div>
        <div class="card-body text-center">
          <div class="card-title"><h5>Milagros Paricanaza</h5></div>
          <div class="card-title"><a href="mailto:mparicanazac@unsa.edu.pe" style="font-size: 0.875em;">mparicanazac@unsa.edu.pe</a></div>
          <div class="card-text">Rol: Database Designer</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 teacher">
      <div class="card">
        <div class="card_img">
          <img
            class="card-img-top trans_200"
            src="{% static 'images/us.jpg' %}"
          />
        </div>
        <div class="card-body text-center">
          <div class="card-title"><h5>Ronald Huamani</h5></div>
          <div class="card-title"><a href="mailto:rhuamanipaco@unsa.edu.pe" style="font-size: 0.875em;">rhuamanipaco@unsa.edu.pe</a></div>
          <div class="card-text">Rol: Back End Developer</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 teacher">
      <div class="card">
        <div class="card_img">
          <img
            class="card-img-top trans_200"
            src="{% static 'images/us.jpg' %}"
          />
        </div>
        <div class="card-body text-center">
          <div class="card-title"><h5>Pedro Sanchez</h5></div>
          <div class="card-title"><a href="mailto:pasanchezm@unsa.edu.pe" style="font-size: 0.875em;">psanchezm@unsa.edu.pe</a></div>
          <div class="card-text">Rol: Team Leader</div>
        </div>
      </div>
    </div>
        
  </div>
</div>
{% endblock content %}
