{% extends "ta/base.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table  table-sm">
     <thead >
       <tr>
          <th>Código</th>
          <th>Asignatura</th>
          <th>Prq.1</th>
          <th>Prq.2</th>
        </tr>
      </thead>
      <tbody>
         <tr>
            <th scope="row">1701102</th>
            <td>Razonamiento lógico matemático</td>
            <td></td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701103</th>
            <td>Matemática Básica</td>
            <td></td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701104</th>
            <td>Estructuras discretas 1</td>
            <td></td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701105</th>
            <td>Introducción a la computación</td>
            <td></td>
            <td></td>
         </tr>
        <tr>
            <th scope="row">1701106</th>
            <td>Fundamentos de la Programación 1</td>
            <td></td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701114</th>
            <td>Metodología del Trabajo Intelectual Universitario</td>
            <td></td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701145</th>
            <td>Relaciones Humanas en Empresas de Desarrollo de Software y Base Tecnológica</td>
            <td></td>
            <td></td>
         </tr>
      </tbody>
      <thead >
       <tr>
          <th colspan="4">Segundo Semestre</th>       
        </tr>
      </thead>
         <tbody>
         <tr>
            <th scope="row">1701210</th>
            <td>Cálculo en una variable</td>
            <td>1701103</td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701211</th>
            <td>Estructuras Discretas 2</td>
            <td>1701104</td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701212</th>
            <td>Programación Web 1</td>
            <td>1701106</td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701213</th>
            <td>Fundamentos de Programación 2</td>
            <td>1701106</td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701216</th>
            <td>Comunicación Integral</td>
            <td></td>
            <td></td>
         </tr>
         <tr>
            <th scope="row">1701217</th>
            <td>Realidad Nacional</td>
            <td></td>
            <td></td>
         </tr>
      </tbody>
   </table>
   </div>
{% endblock content %}