{% extends 'bootstrap.html' %}

{% load bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        <p>
            <a href="{% url 'home' %}">Inicio</a>

            {% if user.is_authenticated %}
                {% if user.is_staff %}
                <a href="abc">Soy staff</a>
                <a href="escuelas/mallas">Mallas</a>
                <a href="escuelas">Escuelas</a>
                <a href="escuelas/Cursos">Cursos</a>
                {% else %}
                <a href="cba">No soy Staff</a>
                {% endif %}
            <a href="usuario/logout">Cerrar sesión</a> Hola {{user.email}}
            {% else %}
            <a href="usuario/login">Iniciar sesión</a>
            {% endif %}
        </p>

        


        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}